.projects {
    .work {
        border-left: 4px solid #3b82f6 !important;
    }
    .personal {
        border-left: 4px solid #10b981 !important;
    }
    .health {
        border-left: 4px solid #f59e0b !important;
    }
}